.productDetail{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.2rem;
  color: black;
  background-color: #e62214;
  color: white;
  padding: 0.5rem 0.6rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.productDetail:hover{
  color: white;
}

.names{
  font-family: fantasy;
  font-size: 1.2rem;
}